@import 'tailwindcss';

@theme {
  --font-sans: 'Kumbh Sans', sans-serif;

  --color-primary: #c8ee44;
  --color-secondary: #29a073;

  --color-text-1: #1b212d;
  --color-text-2: #929eae;
  --color-text-3: #78778b;

  --color-gray-1: #fafafa;
  --color-gray-2: #f8f8f8;
  --color-gray-3: #f5f5f5;
  --color-gray-5: #f2f2f2;
  --color-gray-6: #ebe8e8;
  --color-gray-7: #4e5257;

  --color-key-black: #363a3f;

  --color-neutral-quaternary: oklch(37.3% 0.034 259.733);

  --lead-100: 100%;
}

@utility leading-full {
  line-height: var(--lead-100);
}

@layer components {
  .maglo-input {
    @apply border border-gray-5 text-sm font-medium text-text-3 pl-5 pt-[15px] pr-[25px] pb-4 rounded-[10px] focus:outline-0 leading-[15px];
  }

  .primary-button {
    @apply bg-primary border border-primary text-text-1 text-base py-[15px] px-5 rounded-[10px] cursor-pointer font-semibold leading-none;
  }

  .secondary-button {
    @apply bg-white border border-gray-3 text-text-3 text-base py-3 px-5 rounded-[10px] cursor-pointer font-semibold leading-none;
  }

  .title-1 {
    @apply text-text-1 text-3xl font-semibold leading-none;
  }
  .subtitle-1 {
    @apply text-text-3 text-base leading-none font-normal;
  }
  .title-2 {
    @apply text-text-1 text-[25px] font-semibold leading-[26px];
  }
  .title-3 {
    @apply text-text-1 text-[18px] font-semibold leading-[22px];
  }
  button {
    @apply disabled:cursor-not-allowed;
  }

  .primary-link {
    @apply text-black relative;

    &::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 35px;
      top: calc(100% + 7px);
      left: calc(50% - 30px);
      border: 3px solid transparent;
      border-top-color: var(--color-primary);
      border-radius: 50%;
      pointer-events: none;
    }
  }

  .nav-menu li {
    &:not(:last-of-type) {
      @apply mb-0.5;
    }

    a,
    button {
      @apply bg-transparent text-text-2 text-sm py-3.5 px-5 rounded-[10px] cursor-pointer font-semibold leading-[17px] flex gap-3 items-center transition-all duration-300 w-full;

      &:hover {
        @apply bg-gray-5;
      }

      &.active {
        @apply bg-primary text-text-1;
      }

      &:not(:last-of-type) {
        @apply mb-0.5;
      }
    }
  }

  .shimmer {
    @apply relative overflow-hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      animation: shimmer 1.6s infinite;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .summary-card {
    @apply grid grid-cols-[42px_1fr] items-center py-6 px-5 gap-[15px] rounded-[10px] bg-gray-2 transition-colors duration-300;

    .summary-card-icon {
      @apply w-full aspect-square flex items-center justify-center rounded-full text-key-black bg-gray-6 transition-colors duration-300;
    }
    .summary-card-title {
      @apply text-sm text-text-2 font-normal leading-[17px] transition-colors duration-300;
    }
    .summary-card-amount {
      @apply text-2xl text-text-1 font-bold leading-[30px] transition-colors duration-300;
    }

    &:hover {
      @apply bg-key-black;

      .summary-card-icon {
        @apply bg-gray-7 text-primary;
      }
      .summary-card-title {
        @apply text-text-2;
      }
      .summary-card-amount {
        @apply text-white;
      }
    }
  }

  select {
    @apply bg-gray-2 py-1.5 pr-2 pl-2.5 outline-0 rounded-[5px] text-xs leading-[15px] text-text-1 font-normal cursor-pointer;
  }

  .table-seperator:not(:last-of-type) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-3);
      transform: translateY(17px);
    }
  }

  .scheduled-transfer-card:not(:last-of-type) {
    @apply pb-[15px] border-b border-gray-1;
  }

  .wallet-card {
    @apply flex flex-col rounded-[15px] pt-[18px] pb-5 pl-[30px] pr-[31px];

    .wallet-card-top {
      @apply flex flex-col;

      .wallet-card-header {
        @apply flex gap-[17px] items-center;

        .wallet-card-title {
          @apply text-base leading-[23px] relative;

          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            right: -8px;
            top: 0;
          }
        }

        .wallet-card-bank {
          @apply text-xs leading-[17px];
        }
      }

      .wallet-card-icons {
        @apply flex items-center justify-between;
      }
    }

    .wallet-card-bottom {
      @apply flex flex-col;

      .wallet-card-number {
        @apply font-bold;
      }

      .wallet-card-footer {
        @apply flex justify-between items-start h-9;

        .wallet-card-expire {
          @apply font-medium;
        }
      }
    }

    &.dark-card {
      background: linear-gradient(104.3deg, #4a4a49 2.66%, #20201f 90.57%);
      @apply gap-[21px];

      .wallet-card-top {
        @apply gap-[27px];

        .wallet-card-header {
          .wallet-card-title {
            @apply text-white;

            &::after {
              @apply bg-[#626261];
            }
          }

          .wallet-card-bank {
            @apply text-[#626260];
          }
        }
      }

      .wallet-card-bottom {
        @apply gap-2;

        .wallet-card-number {
          @apply text-white text-[17px] tracking-[1.7px] leading-6;
        }

        .wallet-card-footer {
          .wallet-card-expire {
            @apply text-sm text-[#868685] tracking-[0.24px] leading-5;
          }
        }
      }
    }
    &.transparent-card {
      @apply relative gap-[24px] w-[calc(100%-30px)] mx-auto -mt-[62px];
      backdrop-filter: blur(10px);

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 15px;
        background: linear-gradient(131.66deg, #959595 -12.2%, #324000 147.88%);
        border: 0.5px solid;
        border-image-source: linear-gradient(
          114.49deg,
          rgba(255, 255, 255, 0.4) -41.08%,
          rgba(255, 255, 255, 0.1) 104.09%
        );
        opacity: 0.1;
        pointer-events: none;
      }

      .wallet-card-top {
        @apply gap-[13px];

        .wallet-card-header {
          .wallet-card-title {
            @apply text-white;

            &::after {
              @apply bg-gray-3;
            }
          }

          .wallet-card-bank {
            @apply text-gray-3;
          }
        }
      }

      .wallet-card-bottom {
        @apply gap-[5px];

        .wallet-card-number {
          @apply text-text-1 text-base tracking-[1.6px] leading-[23px];
        }

        .wallet-card-footer {
          .wallet-card-expire {
            @apply text-xs text-[#868685] tracking-[0.24px] leading-[17px];
          }
        }
      }
    }
  }
  .dropdown-button {
    @apply w-full text-left px-4 py-3 hover:bg-gray-100 transition cursor-pointer flex items-center gap-1 font-medium text-text-1;
  }

  .menu-toggle.open span:nth-child(1) {
    @apply translate-y-2 rotate-45;
  }

  .menu-toggle.open span:nth-child(2) {
    @apply opacity-0;
  }

  .menu-toggle.open span:nth-child(3) {
    @apply -translate-y-2 -rotate-45;
  }
}
